html {
  position: relative;
  height: 100%;
}

body {
    height: 100%;
}

#wrapper {
  display: flex;
  min-height: 100%;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 80px;
}

.sidebar {
  width: 225px;
  background-color: #212529;
  min-height: 100%;
}

.sidebar .nav-item .nav-link {
  text-align: left;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 1rem;
  display: block;
}

/*Remove the bootstrap dropdown arrow*/
.sidebar .nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}
