html, body {
	margin: 0;
	padding: 0;
}

.assignment_block {
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: #985F6F;
	font-size: 25;
}

.assignment_name {
	flex: 1 0 auto;
}

.assignment_date {
	flex: 0 0 auto;
}

.shadow_above {
	-webkit-box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
	box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
}

.group_block {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	background-color: #B4869F;
}

.group_name {
	font-size: 30;
	flex: 0 0 auto;
	margin-right: 10px;
}

.group_name_edit {
	flex: 0 0 auto;
}

.info_block {
	padding: 100px;
	background-color: #A6B1E1;
}

.info_card {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.slots_list {
	text-align: center;
	font-size: 50;
}

.members_bar {
	border-left: 1px solid rgba(86,86,86,.4);
	padding: 20px;
}

.members_title {
	border-bottom: 1px solid rgba(86,86,86,.5);	
}

.member {
	display: flex;
	flex-direction: row;
}

.member_owner {
	margin-left: 5px;
}

.member_you {
	color: blue;
}

.requests_block {
	min-width: 300px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
}

.request_card {
	width: 150px;
	height: 150px;
	border: 1px solid rgba(86,86,86,.5);	
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	padding: 5px;
	margin: 10px;
	color: black;
}
.request_card:hover {
	background-color: #EEEEEE;
	color: black;
}

.request_name {
	text-align: center;
}

.request_members {
	margin-left: auto;
	margin-right: auto;
	font-size: 30;
}
