#page{
	text-align: center;
}

#school{
	margin-top: 40px;
}

#schoolInfo{
	margin-top:20px;
	margin-left: 20px;
	display: inline-block;
}


#header{
	display: flex;
	flex-direction: row;
	padding: 5px;
	background-color: #5f7898;
	font-size: 25px;
}

#changeForms{
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#allDisplays{
	display: inline-block;
	text-align: center;
	margin-right: 100px;
}

#displayDelete{
	display: inline-block;
	text-align: center;
}

#innerWrapper{
	text-align: center;
}


#schoolDisplay{
	display: inline-block;
	text-align: center;
	margin-top: 15px;
	width: 400px;
	background-color: white;
}

p{
    line-height: 10px;
}

body{
	background-color: #f1f2fa;
}

.shadow-above {
    -webkit-box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
    box-shadow: inset 0px 30px 25px -32px rgba(0,0,0,0.75);
}

.school-entry {
	-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
	overflow: hidden;
}

.button{
	display: inline-block;
	border: 3px solid #5f7898;
	border-radius: 5px;
	outline: none;
}

.button:hover {
	background-color: #EEEEEE;
	color: black;
	cursor: pointer;
}


.searchTerm {
	margin-left: 25px;
	border: 3px solid #5f7898;
	border-radius: 5px;
	outline: none;
}

.instructions{
	font-weight: bold;
}


.editValue{
	margin-top: 15px;
	margin-bottom: 20px;
}

.error{
	color: red;
}

.big-button{
	display: inline-block;
	border: 3px solid #5f7898;
	border-radius: 5px;
	outline: none;
	margin-left: -100px;
	margin-top: 30px;
	width: 130px;
	height: 50px;
}

.big-button:hover {
	background-color: #EEEEEE;
	color: black;
	cursor: pointer;
}
